body{
	margin:0px;
	padding: 0px;
	background-image: url(../img/BackGrounBig.jpg);
}
.wrapper{
	width: 80%;
	margin: auto;

}
*{
	font-family: Palatino Linotype,Palatino,Hiragino Kaku Gothic Pro,Hiragino Kaku Gothic ProN W3,Osaka,メイリオ,Meiryo,ＭＳ\ Ｐゴシック,Asadong,Times,serif;
}
.wrapper h2{
	color: #614326;
	font-size: 32px;
}
.logo{
	padding: 0px;
}
.header { 
	background-image: url(../img/FuterBAck.png); 
	padding: 0px; 
	z-index: 1;
	
	margin-left: 0px;
	margin-right: 0px;
	border-radius: 10px;
	
}
.header_content{
	color: white;
	text-decoration: none;
	font-size: 20px;

}
.wrapper_for_header{
	width: 80%;
	margin: auto;
	padding-left: 25%;


}
.wrapper_for_header p{
	font-size: 28px;
}
 ul.navigation{
	margin-top:0px;
}
.navigation{ 
	color: #fcd144;
	list-style-type: none; 
	padding-left: 5px;
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
} 
.navigation a{ 
    color: #fcd144;
    cursor: pointer;
    vertical-align: middle;
    line-height: 73px;
    font-size: 1vw;
    text-decoration: none;
}
.navigation a:hover{
	text-decoration: underline;
}
.bigBack{
	background-image: url(../img/InfoBack.jpg);
	background-position: 0px -300px;
}
p{
	font-size: 24px;
	text-align: center;
}


.devide{
	position: relative;
	background-image: url(../img/paper_border.png);
	height: 56px;
	width: 100%;
	
}
.futer{
	background-image: url(../img/FuterBAck.png);
	padding: 0px; 
	margin-top: 100px;
	z-index: 1;
	margin-left: 0px;
	margin-right: 0px;
}

.icon{
	background-image: url(../img/BigSprite.png);
    background-position: -302px -330px;
    width: 205px;
    height: 205px;
    display:  inline-block;
}
.info{
	padding-left: 20px;
	line-height: 110px;
	font-size: 38px;
	color: white;
	line-height: 205px;
}


.smallvideo{
	width: 390px;
	height: 220px;
}
.smallworks{
	width: 265px;
	height: 133px;
	border-radius: 8px;
}
.videogallery{
	width: 70%;
	height: 400px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-bottom: 3px #d9be91 solid;
	box-sizing: border-box;
	padding: 15px;
	align-items: center;
	background-image: url(../img/bg.png);
}
.imagegallery{
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-bottom: 3px #d9be91 solid;
	padding: 35px;
	align-items: center;
}
.block{
	width: 300px;
	height: 233px;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 15px;

}
.small{
	width: 300px;
	height: 133px;
}
.read{
	width: 300px;
	height: 100px;
	box-sizing: border-box;
	padding: 10px;
	line-height: 80px;
	background-image: url(../img/backfornews.png);
	background-position: 0px -14px;
	background-size: cover;
	border-radius: 15px;
	text-align: center;
	font-size: 24px;
}
.works{
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-bottom: 3px #d9be91 solid;
	padding: 35px;
	align-items: center;
}
.wallpapers{
	width: 720px;
	height: 600px;
	margin: auto;

}
.videogallery::before{
	content: "";
	position: absolute;
	display: block;
	background-image: url(../img/worgen.png);
	width: 405px;
	height: 263px;
	left: 6%;
}
.videogallery::after{
	content: "";
	position: absolute;
	display: block;
	background-image: url(../img/goblin.png);
	width: 210px;
	height: 237px;
	right: 12%;
}

h2{
	text-align: center;
}
.slick-next::before {
	content:"";
    display: block;
    position: absolute;
    left: 10px;
	 width: 90px;
    height: 80px;
    background-image: url(../img/Arrows.png);
    background-position: -100px;
    z-index: 20;
    opacity: 1;
}
.slick-prev::before {
    content: "";
    display: block;
    position: absolute;
    right: 10px;
	 width: 90px;
    height: 80px;
    background-image: url(../img/Arrows.png);
    z-index: 20;
    opacity: 1;
}
.slick-dots li button::before{
	content: "";
	display: block;
	position: absolute;
	top: 15px;
	width: 28px;
	height: 28px;
	background-image: url(../img/gems.png);
	background-position: -325px -262px ;
	opacity: 1;
}
.navbar {

	padding: 0px; 
	z-index: 100;
	
	margin-left: 0px;
	margin-right: 0px;
	border-radius: 10px;
}
.navbar-expand-lg{
	background-image: url(../img/FuterBAck.png);
}
.nav-link{
	color: #fcd144;
    cursor: pointer;
    font-size: 24px;
}
.nav-link:hover{
	color:#fcd144 !important;
	text-decoration: underline !important;
}

@media all and (max-width: 1280px){
	.navigation a{ 
    color: #fcd144;
    cursor: pointer;
    vertical-align: middle;
    line-height: 73px;
    font-size: 1vw;
    text-decoration: none;
}
	
	.imagegallery{
		height: 1000px;
	}
	.works{
		height: 500px;
	}
	.bigBack{
	background-image: url(../img/InfoBack.jpg);
	background-position: 0px -230px;
}
.videogallery::before{
	content: "";
	position: absolute;
	display: block;
	background-image: url(../img/worgen.png);
	width: 405px;
	height: 263px;
	left: 1%;
}
.videogallery::after{
	content: "";
	position: absolute;
	display: block;
	background-image: url(../img/goblin.png);
	width: 210px;
	height: 237px;
	right: 6%;
}
}
@media all and (max-width: 991px){
	.navbar-toggler{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fcd144' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");} 

	.videogallery{
		height: 600px;
		background-image: none;
	}
	.imagegallery{
		height: auto;
	}
	.works{
		height: auto;
	}
	.bigBack{
	background-image: url(../img/InfoBack.jpg);
	background-position: 0px -230px;
}
}
@media all and (max-width: 800px){
	.videogallery::before{
	content: "";
	position: absolute;
	display: block;
	background-image: url();
	width: 405px;
	height: 263px;
	left: 1%;
}
.videogallery::after{
	content: "";
	position: absolute;
	display: block;
	background-image: url();
	width: 210px;
	height: 237px;
	right: 6%;
}

	.futer1{
	display: none;
}	
.futer2{
	display: none;
}
.futer3{
	display: none;
}
.futer4{
	display: none;
}
.futer0{
	width: 100%;
}
.navigation a{ 
    color: #fcd144;
    cursor: pointer;
    vertical-align: middle;
    line-height: 73px;
    font-size: 3vw;
    text-decoration: none;
}
.wallpapers {
	display: none;
}
}
@media all and (max-width: 320px){


.videogallery::before{
	content: "";
	position: absolute;
	display: block;
	background-image: url();
	width: 405px;
	height: 263px;
	left: 1%;
}
.videogallery::after{
	content: "";
	position: absolute;
	display: block;
	background-image: url();
	width: 210px;
	height: 237px;
	right: 6%;
}
}